@charset "UTF-8";
/* CSS Document */
/* id 선택하기:아이디 set01 -> clor red */
#set01{
    color: red;
}
/* class선택하기 : 클래스drink -> color yellow */
.drink{
    color: yellow;
}
/* 다중클래스 선택하기  클래스 special -> color:green */
.special{
    color: green;
}
#set01+ul{
    background-color: pink;
}
#set01~ul{
    border: 3px solid #666;
}

ul>li.special{
    background-color: blue;
}
/* 자식요소 선택하기 아이디 set02의 자식ul -> 배경 pink*/
/* set02의 자식아님ul은 형제임 */

